.bodycontent{
}
.icons{
	width: 80%;
	display: grid;
	grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
	grid-row-gap: 0px; 
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
.info{
	width: 80%;
	display: grid;
	grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
	font-size: 20px;
}
.googleMap{
	width: 80%;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}